body {
    background-color: blue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.astronomy-card {
    width: 90%;
    margin: 0 auto;
    img {
        min-width: 90vw;
        min-height: 90vh;
    }
}